@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Inter Tight", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#header {
	display: flex;
	flex-direction: column;
	width: 100vw;
	max-width: 100vw;
	height: 100vh;
	max-height: 100vh;
	align-items: center;
	justify-content: center;
	background-color: #4954fd;
}

#header .header {
	padding: 32px 0px;
}

#header .content {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	text-align: center;
}

#header .content .title {
	font-size: 72px;
	font-weight: 900;
}

#header .content .subtitle {
	font-size: 28px;
	font-weight: 400;
}

#header .content .button {
	background-color: white;
	color: #4954fd;
	font-weight: 600;
	font-size: 18px;
	padding: 12px 24px;
	border-radius: 32px;
	margin-top: 32px;
	cursor: pointer;
}

.webapp {
	margin-top: 4px;
	flex: 1.5;
	/* border-top-left-radius: 24px;
	border-top-right-radius: 24px; */
	/* background-position: center;
	background-image: url("assets/webapp.png");
	background-size: cover;
	background-repeat: no-repeat; */
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.webapp img {
	width: auto;
	max-width: 75vw;
	height: auto;
	border-top-left-radius: 24px;
	border-top-right-radius: 24px;
	object-fit: cover;
	object-position: center;
}

/* RESPONSIVE */

@media only screen and (max-width: 768px) {
	#header .content .title {
		font-size: 48px;
	}

	#header .content .subtitle {
		font-size: 18px;
		margin-top: 12px;
	}
}
